// ____> Color Palette
$gray: #fafafa;
$primary: #42b883;
$primary-2: #003806;
$secondary-light: #e9e9e9;
$secondary-dark: #373737;

$danger: #923030;
$important: #005fa7;

$success-light: #0d9b00;
$success-dark: #14ff76;
$error: #ff4848;

$black: #000000;
$black-soft: #303030;
$black-soft2: #3a3a3a;
$black-mute: #7b7b7b;
$background-black: #1d1d1d;

$white: #ffffff;
$white-soft: #e8e8e8;
$white-soft2: #bbbbbb;
$white-mute: #878787;
$background-white: white;

$btn-hover-light-1: #f0f0f0;
$btn-hover-light-2: #242424;

$color-border-light-1: #aeaeae;
$color-border-light-2: #545454;
$color-border-dark-1: #505050;
$color-border-dark-2: #858585;

// ____> Semantic color variables for use in components

// light theme
$color-background: $background-white;
$color-background-soft: $white-soft;
$color-background-mute: $white-mute;

$color-border-important: $important;
$color-border: $color-border-light-1;
$color-border-hover: $color-border-light-2;

$heading: $black;
$text: $black-soft;
$text-mute: $black-mute;

// dark theme
$color-background-dark: $background-black;
$color-background-soft-dark: $black-soft;
$color-background-mute-dark: $black-mute;

$color-border-important-dark: $important;
$color-border-dark: $color-border-dark-1;
$color-border-hover-dark: $color-border-dark-2;

$heading-dark: $white;
$text-dark: $white-soft2;
$text-mute-dark: $white-mute;

// transition variables
$text-and-bg-trans-time: 0.15s;
$global-border-size: 1px;
$global-border-radius: 5px;
